{% extends "!layout.html" %}

  {% block menu %}
    {{ super() }}
    <a href="https://transportmaps.mit.edu/qa/" target="_blank">Support</a>
    <a href="https://bitbucket.org/dabi86/transportmaps/issues?status=new&status=open" target="_blank">Bug-tracking</a>
  {% endblock %}
